{% extends 'base.html' %}
{% load static %}

{% block title %}
    This Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block body %}
    <section id='summary'>
        <h2>Post Title</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title">
            <address>By Petre</address>
            <div>Last updated on <time>July 10th</time></div>
        </article>
    </section>
 
    <main>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt alias magnam, molestiae fuga consequuntur laudantium dolores autem numquam ducimus perferendis, vitae totam? Numquam, impedit porro necessitatibus quod vel ea sit!
        </p>
    </main>
{% endblock body %}


